<% if @item.valid? %>
	$(".flash").html("<div class='alert alert-success'><%= flash[:notice] %></div>");
	$("#js-items").append("<li id=item-<%=@item.id%>><%= escape_javascript(render(@item))%></li>");
<% else %>
	$(".flash").html("<div class='alert alert-danger'><%= flash.now[:alert] %></div>");
<% end %>
$(".new-item").html("<%= escape_javascript(render partial: 'items/form', locals: {user: @user, item: @user.items.new})%>");
